html, body {
    height:             100%;
}

body {
    width:              100%;
    margin:             0;
    padding:            0;
    background-color:   #fff7f7;
    color:              #171a24;
}

#container {
    display:            grid;
    grid-template-rows: auto 1fr auto;
    height:             100vh;
}

#header,
#main,
footer {
    margin:         0;
    padding:        0;
}
